@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow.ttf);
}

.forAppBar {
    background-color: rgb(244, 153, 48);
    
    
  }


  


.forContainers1st {
    
  color: rgb(4, 4, 4);
  text-align: left;
  padding-top: 1em;

}

.forContainers2nd {
  
  color: rgb(132, 108, 108);
  text-align: left;
  ;
    
}

.forContainersAvatar {
  padding-bottom: 0.04em;
  text-align: left;
}

.forContainers3rd {
  color: rgb(132, 108, 108);
    text-align: left;
    padding-top: 1em;
    
}

.mainbody {
    background-color: #ebebeb;
    color: white;
    padding-top: 5em;
    padding-left: 1em;
    text-align: center;
    flex-grow: 1;
    align-content: center;
    padding-right: 1em;
    
    
  }

  .forTextOnBackground {
    color: rgb(4, 4, 4);
    text-align: left;
    padding: 0.5em;
    font-family: JosefinItalic;
    
    
    
  }

  .forMinorTextOnBackground {
    color: rgb(132, 108, 108);
    text-align: left;
    padding: 1em;
    flex-grow: 1;
    
  }


  .centeringContent {
    
    align-items: center;
    
    
  }

  .forProfilePictures {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
    
    
    
  }


  .forMainText {
    color: rgb(4, 4, 4);
    text-align: center;
    padding: 0.1em;
    

  }


  .forMinorMainText {
    color: rgb(132, 108, 108);
    text-align: center;
    padding: 0.1em;
    
  }


  .forAddButton {
    
    align-content: center;
    align-self: center;
    color: #161615;
    
    
  }

  .knowledgeBaseText {
    color: rgb(172, 73, 34);
    text-align: left;
    padding-bottom: 0em;
    font-family: JosefinItalic;
    
  }

  .forLogo {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    
    
    
    
    
  }


  .forIcons{
    
    color: rgb(244, 153, 48);
    
    
  }

  .forDrawerHeader{
    background-color: rgb(244, 153, 48);
  }

  
  .forAdminProfilePictures {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
    
    
    
  }